.fighter_profile_wrapper {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   margin-bottom: -20px;
}
.fighter_profile {
   display: flex;
   width: 263px;
   padding: 24px 28px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
}
.frame_wrapper {
   display: flex;
   width: 200px;
   flex-direction: column;
   align-items: center;
   gap: 24px;
}
.frame_1 {
   display: flex;
   align-items: flex-start;
   gap: 30px;
}
.frame_2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4px;
   align-self: stretch;
}
.frame_3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4px;
   align-self: stretch;
}
p {
   font-family: Roboto Mono;
   font-size: 12px;
   font-style: normal;
   font-weight: 700;
   line-height: 16px;
   letter-spacing: 0.36px;
   color: #da8b14;
   text-transform: uppercase;
   text-align: center;
}
.health_attack {
   display: flex;
   align-items: flex-start;
   gap: 30px;
}
.tab {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4px;
}
h4 {
   font-family: Germania One;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px;
   align-items: center;
   text-align: center;
   color: #fff;
   text-transform: capitalize;
}
