@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #373737;
}

.app {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 375px;
   height: 755px;
   margin: 1% auto;
   background: #0f0f0f;
   color: white;
   font-size: 42px;
}
